body{
    display: flex;
    background-color: aquamarine;
    margin:0px; 

}

.contenedor{
    width: 100%;
    background-color: tomato;
    display: flex;
    margin: 300px 300px 300px 300px;
   
    height: 1000px;
    padding: 300px 300px 300px ;

}
.contenedor1{
    width: 100%;
    background-color: yellow;
    display: flex;


}
.contenedor-interno1{
    width: 100%;
    background-color: brown;
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    

}

.contenedor-interno2{
    width: 100%;
    background-color: brown;
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    

}